---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - orphanage.kponos.io
  resources:
  - orphanagepolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - orphanage.kponos.io
  resources:
  - orphanagepolicies/finalizers
  verbs:
  - update
- apiGroups:
  - orphanage.kponos.io
  resources:
  - orphanagepolicies/status
  verbs:
  - get
  - patch
  - update
